.ravenOptionsContainer {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  user-select: none;
}

.selectedOption img {
  border-color: #ffc107 !important;
  box-shadow: 0 0 8px rgba(255, 193, 7, 0.5);
}

.cursorPointer {
  cursor: pointer;
}
