.participantContainer {
  align-items: center;
  display: flex;
  padding: 1rem;
  position: relative;
}

.participantContainerDark {
  background-color: #032830;
  color: #6edff6;
}

.participantContainerLight {
  background-color: #cff4fc;
  color: #055160;
}

.participantIcon {
  border-radius: 50%;
  color: #0dcaf0;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 2.5rem;
}

.participantIconDark {
  background-color: rgb(13, 202, 240, 0.25);
}

.participantIconLight {
  background-color: rgb(13, 202, 240, 0.1);
}
