.consent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.consent-pop {
    width: 60vw;
    height: 80vh;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #333;

    display: flex;
    flex-direction: column;
}

.button-pop {
    width: 100%;
    height: 5vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;

}

.consent-pop-content {
    flex: 1;
    overflow-y: auto;
    padding-right: 1rem;
}

.consent-pop-content::-webkit-scrollbar {
    width: 10px;
}

.consent-pop-content::-webkit-scrollbar-track {
    background: #f0e6dd;
    border-radius: 10px;
}

.consent-pop-content::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #f0e6dd;
}

.consent-pop h2 {
    margin-top: 0;
}

.consent-pop button {
    margin-top: 1.5rem;
    padding: 10px 20px;
    background-color: #e4c0aa;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    align-self: flex-end;
}

.consent-pop button:hover {
    background-color: #d49a8b;
}
