.ravenMatrixContainer {
  justify-items: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.ravenMatrix {
  margin-bottom: 25px;
  user-select: none;
  width: 100%;
}

.ravenOptionsContainer {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  user-select: none;
  width: 100%;
}

.oddRavenOption {
  transform: translateX(50%);
}

.ravenOption {
  border-radius: 3px;
  box-sizing: content-box;
  margin: 5px;
  padding: 3px;
  user-select: none;
  width: calc(100% - 8px);
}

.ravenOption:hover {
  cursor: pointer;
}

.selectedRavenOption {
  background-color: gold;
}
