.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 2rem;
  gap: 1.5rem;
}

.question {
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  flex: 0 0 auto;
  padding: 1.5rem;
  text-align: center;
  user-select: none;
}

.dark {
  background-color: #212529;
}

.light {
  background-color: white;
}

.questionText {
  margin-bottom: 1rem;
}

.questionImage {
  height: auto;
  max-height: 30rem;
  max-width: 100%;
  pointer-events: none;
}

@media (min-width: 768px) {
  .question {
    width: 83.3%;
  }
}

@media (min-width: 992px) {
  .question {
    width: 66.7%;
  }
}
