.container {
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
}

.containerDark {
  background-color: #212529;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 0.5rem;
}

.title {
  margin-bottom: 0;
}

.exportCsvButton {
  align-items: center;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;
  color: white;
  display: flex;
  font-size: 0.875rem;
  gap: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
  user-select: none;
}

.exportCsvButton:hover, .exportCsvButton:focus-visible {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.exportCsvButton:active {
  background-color: #0a58ca;
  border-color: #0a53be;
}

.exportCsvButton:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  outline: 0;
}

.noResults {
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.noResultsDark {
  color: rgba(222, 226, 230, 0.75);
}

.noResultsLight {
  color: rgba(33, 37, 41, 0.75);
}

.userContainer {
  align-items: center;
  display: flex;
}

.userIcon {
  border-radius: 50%;
  color: #0d6efd;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.userIconDark {
  background-color: rgba(13, 110, 253, 0.1);
}

.userIconLight {
  background-color: #f8f9fa;
}

.userName {
  font-weight: 500; /* medium */
}

.userId {
  color: #6c757d;
}

.accuracyBadge {
  border-radius: 0.375rem;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.accuracy90 {
  background-color: #198754;
}

.accuracy70 {
  background-color: #0d6efd;
}

.accuracy50 {
  background-color: #ffc107;
  color: black;
}

.accuracyLow {
  background-color: #dc3545;
}

.exportUserButton {
  background-color: transparent;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;
  color: #0d6efd;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
  user-select: none;
}

.exportUserButton:active, .exportUserButton:hover, .exportUserButton:focus-visible {
  background-color: #0d6efd;
  color: white;
}

.exportUserButton:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
  outline: 0;
}

.tableContainer {
  overflow-x: auto;
  padding-bottom: 1rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
}

.tableDark {
  border-color: #4d5154;
}

.tableLight {
  border-color: #dee2e6;
}

.table > thead {
  vertical-align: bottom;
}

/* <th> and <td> */
.table > :not(caption) > * > * {
  padding: 0.5rem;
  border-bottom-width: 1px;
}

.tableDark > tbody > tr:hover > * {
  background-color: rgba(255, 255, 255, 0.075);
}

.tableLight > tbody > tr:hover > * {
  background-color: rgba(0, 0, 0, 0.075);
}
