.modal {
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 800px;
  max-width: 700px;
  overflow-y: auto;
  padding: 2rem;
  width: 80%;
}

.modalDark {
  color: white;
}

.modalLight {
  background-color: white;
  color: black;
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  width: 100%;
}

.tableDark th,
.tableDark td {
  border-bottom: 1px solid #333333;
  color: #eeeeee;
}

.tableLight th,
.tableLight td {
  border-bottom: 1px solid #cccccc;
  color: #222222;
}

.table th,
.table td {
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
}

.linkButton {
  background: none;
  border: none;
  color: #0d6efd;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.linkButton:disabled {
  color: inherit;
  cursor: not-allowed;
  font-weight: inherit;
  text-decoration: none;
}

.continueButton {
  align-items: center;
  align-self: center;
  background-color: #0d6efd;
  border: none;
  border-radius: 50rem;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  transition: all 0.15s ease-in-out;
  user-select: none;
  width: fit-content;
}

.continueButton:hover, .continueButton:focus-visible {
  background-color: #0b5ed7;
}

.continueButton:active {
  background-color: #0a58ca;
}

.continueButton:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  outline: 0;
}
