.headerContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
}

.headerDark {
  background-color: #212529;
  border-bottom: 1px solid #495057;
}

.headerLight {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.icon {
  height: 1rem;
  margin-right: 0.5rem;
}

.title {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  margin: 0;
}

.progressBarContainer {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.progressText {
  color: #6c757d;
}

.progressBar {
  background-color: #343a40;
  border-radius: 4rem !important;
  display: flex;
  height: 10px !important;
  overflow: hidden;
  width: 100%;
}

.progressBarFill {
  background-color: #0d6efd;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  transition: width 0.6s ease;
  white-space: nowrap;
}

.progressBadgeContainer {
  flex: 1 0 0;
  text-align: right;
}

.progressBadge {
  background-color: #0d6efd;
  border-radius: 4rem;
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.35rem 0.65rem;
}

@media (max-width: 768px) {
  .progressBar {
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .progressBarContainer {
    flex: 0 0 auto;
    width: 50%;
  }
}
